@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Login Page</h1>
    <li class="nav-item">
        <a class="button" asp-area="" asp-controller="Customers" asp-action="Create">LoginForm</a>
    </li>
</div>
